
*{margin:0;padding:0;box-sizing:border-box;font-family:'Segoe UI',sans-serif}

body{background:#f4f8ff;color:#1a1a1a}

header{
position:fixed;width:100%;top:0;
background:white;padding:15px 10%;
display:flex;justify-content:space-between;align-items:center;
box-shadow:0 2px 10px rgba(0,0,0,0.05);z-index:1000}

.logo{font-weight:bold;color:#0d47a1}

nav a{margin-left:20px;text-decoration:none;color:#333;font-weight:500}
nav a:hover{color:#0d47a1}

.hero{
height:100vh;
background:url('assets/images/bg2.jpg') center/cover no-repeat;
position:relative;display:flex;align-items:center;justify-content:center;
text-align:center;color:white}

.overlay{
position:absolute;top:0;left:0;width:100%;height:100%;
background:rgba(13,71,161,0.8)}

.hero-content{position:relative;z-index:2;}

.hero h1{font-size:42px;margin-bottom:20px}

.btn{
padding:10px 20px;background:white;color:#0d47a1;
text-decoration:none;border-radius:5px;transition:0.3s;margin: 10px;}

.btn:hover{background:#e3f2fd}

.propos{
    background-color: white;
}

.section{padding:100px 10%;margin-top:60px}
.alt{background:white}

.section h2{margin-bottom:30px;color:#0d47a1}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px}

.card{
background:white;padding:20px;border-radius:10px;
box-shadow:0 4px 15px rgba(0,0,0,0.05);
transition:0.4s;
border: 3px solid #0d47a1;

}

.card:hover{transform:translateY(-8px) scale(1.02)}

.project img{width:100%;border-radius:8px;margin-bottom:10px}

.timeline-item{
margin-bottom:20px;padding-left:15px;
border-left:3px solid #0d47a1}

footer{text-align:center;padding:20px;background:#0d47a1;color:white}

.fade{opacity:0;transform:translateY(40px);transition:1s; }
.fade.visible{opacity:1;transform:translateY(0)}
